/**添加收获地址**/
.modal .edit_address{color:#777;}
.modal .edit_address span{color:#f00;font-size:14px;margin-right:2px;}
.modal .edit_address label{font-weight:normal;padding-right:0;}
.modal .pr0{padding-right:0;}
.modal .modal-footer.text-left{text-align:left;}
.modal .form-horizontal .control-label{text-align:right;} 