.prompt {
    min-width: 150px;
    height: 35px;
    /*position: absolute;*/
    position:fixed;
    top: 100px;
    /*left: 50%;*/
    padding: 8px;
    color:#fff;
    text-align:center;
    background-color:#4c4c4c;
    opacity: 0.9;
    border-radius: 0;
}


.modal{
    margin: 0 auto;/*兼容ie8*/
}
.modal-header {
    height: 30px;
    border:0;
    background-color:#f3f3f5;
}
.modal-header .close {
    margin-top: -12px;
}
.modal-title {
    font-size: 14px;
    margin-top: -11px;
}
.modal-content {
    border-radius: 0;
}
.propup-comfirm{
    width:333px;
    /* height:176px; */
    position:fixed;
    left: 50%;
    top: 40%;
    margin: -200px 0 0 -166px;
    border-radius: 5px;
    /* padding: 18px; */
    background-color: rgba(0,0,0,0.1);
    z-index: 2000;
    border: 1px solid #e6e6e6;
    box-shadow: 0 0 5px #ccc;
}
.propup-comfirm .header{
    height: 30px;
    line-height: 30px;
    background-color: #f3f3f5;
    padding: 0 10px;
}
.propup-comfirm .header .close{
    float: right;
    margin-top: 2px;
}
.propup-comfirm .content{
    height: 125px;
    background-color: #fff;
    text-align: center;
}
.propup-comfirm .content p{
    line-height: 68px;
    font-size: 19px;
    text-align: center;
}
.propup-comfirm .content button{
    width: 70px;
    height: 30px;
    line-height: 30px;
    background-color: #f1f1f1;
    border: 1px solid #e5e5e5;
    font-size: 16px;
}
.propup-comfirm .content button.ok{
    background-color: #cb0310;
    color: #fff;
    border: none;
    margin-right: 18px;
}
.modal-content .modal-body{
    overflow: auto;
}